@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'VT323', monospace;
  color: #00FF00;
  cursor: url('data:image/png;base64,...'), auto;
  position: relative;
  z-index: 2;
}

.retro-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10; /* Above StarField */
}

.marquee-container {
  overflow: hidden;
  width: 100%;
}

.marquee-text {
  white-space: nowrap;
  position: relative;
}

.neon-text {
  color: #031002;
  text-shadow: 0 0 5px #FF00FF, 0 0 10px #FF00FF, 0 0 15px #FF00FF, 0 0 20px #FF00FF;
  animation: neon-text-glow 1s ease-in-out infinite alternate;
}

.retro-button {
  background-color: #000;
  color: #00FF00;
  border: 2px solid #00FF00;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 20px;
}

.neon-button {
  text-shadow: 0 0 5px #00FF00;
  box-shadow: 0 0 10px #00FF00;
}

.neon-button:hover {
  background-color: #00FF00;
  color: #000;
}

.retro-text {
  font-size: 18px;
  margin: 10px 0;
  color: #3cda11;
}

.blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.retro-img {
  border: 2px solid #FFF;
  margin: 20px 0;
}

.content-wrapper {
  text-align: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
  border: 4px solid #FF00FF;
  box-shadow: 0 0 10px #FF00FF, 0 0 20px #FF00FF;
  padding: 20px;
  margin-top: 20px;
  background-color: rgba(2, 2, 2, 0.321);
}

.starfield {
  z-index: 1 !important;
}

#bg {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: url('http://starmen.net/mother2/maps/onett.png') no-repeat center center;
    background-size: 400%;
    image-rendering: pixelated;
    animation: background-scroll 90s linear alternate infinite;
    color: transparent;
    opacity: 0.3;
  }
  
  @keyframes background-scroll {
    0% { background-position: 55% 70%; }
    100% { background-position: 55% 0%; }
  }

.box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-color: #697d97;
  background-image: linear-gradient(180deg, #697d97 6%, #96b0d3 32%, #aac2da 53%, #e6f4fd 66%, #8098c4 93%);
  z-index: 0;
}

.sun {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 45%;
  top: 25%;
  background: #f9f499;
  opacity: 0.8;
  border-radius: 50%;
  border: 4px solid #fbf7b2;
}

.cloud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://i.postimg.cc/VNHjr6jr/clouds.png');
  animation: animate-clouds 90s linear infinite;
}

@keyframes animate-clouds {
  0% {
      background-position: 0px;
  }
  100% {
      background-position: 5000px;
  }
}
